/* Cambiar el color de fondo del interruptor cuando esté activo */
.form-check-input:checked {
    background-color: #19b126;
    border-color: #0e8b02;
  }
  /* Cambiar el color del círculo del interruptor */
  .form-check-input:checked + .form-check-label::before {
    background-color: #fff;
  }
  /* Estilo opcional para cambiar el color del interruptor cuando no esté activo */
  .form-check-input {
    background-color: #adb5bd;
    border-color: #adb5bd;
  }
  /* Ajustar el tamaño del interruptor */
  .form-check-input {
    width: 3rem; /* Aumenta el ancho del interruptor */
    height: 1.5rem; /* Aumenta la altura del interruptor */
  
  }
  
  /* Ajustar el tamaño y la posición del círculo (punto) dentro del interruptor */
  .form-check-input:checked + .form-check-label::before,
  .form-check-input:not(:checked) + .form-check-label::before {
    width: 1.5rem; /* Aumenta el ancho del círculo */
    height: 1.5rem; /* Asegúrate de que la altura y el ancho sean iguales para mantenerlo circular */
    top: .125rem; /* Ajusta la posición superior para centrar el círculo dentro del interruptor */
    left: -2rem; /* Ajusta la posición izquierda si es necesario */
  }
  
  /* Ajustar la posición del círculo cuando el interruptor esté activado */
  .form-check-input:checked + .form-check-label::before {
    left: -1rem; /* Ajusta según necesites para mover el círculo a la posición correcta cuando esté activado */
  }
  .btn-modal {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer; /* Cambia el cursor para indicar que es clickeable */
  }
  .btn-modal:focus {
    outline: none; /* Quita el borde cuando el botón está enfocado */
  }
  
  .btn-modal:active {
    transform: scale(0.98); /* Efecto de "presión" al hacer clic */
  }
  .fa-close {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer; /* Cambia el cursor para indicar que es clickeable */
  }
  .fa-close:active {
    transform: scale(0.98); /* Efecto de "presión" al hacer clic */
  }
  .btn-edit {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer; /* Cambia el cursor para indicar que es clickeable */
  }
  .btn-edit:focus {
    outline: none; /* Quita el borde cuando el botón está enfocado */
  }
  
  .btn-edit:active {
    transform: scale(0.98); /* Efecto de "presión" al hacer clic */
  }
  
  .center-both {
    text-align: center;
    vertical-align: middle;
  }
  
  /*informacion modal*/
  .card {
    border: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: all 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
  }
  
  .card-title {
    font-size: 1rem;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 1em;
    color: #333;
  }
  
  .card-text i {
    margin-right: 5px;
  }
  
  
  .mask-custom {
    background: #e8e8e4;
    border-radius: 10px;
    --backdrop-filter: blur(15px);
    border: 2px solid #ece4db;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px #f8edeb;
  
  }
  
  .mask-body{
    background: hsla(0, 100%, 100%, 0.918);
    border-radius: 10px;
    --backdrop-filter: blur(15px);
    border: 2px solid #f5e3e32f;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px #e6e6e64f;
  }
  
  
  
  