<div class="px-2 mt-4">
  <div class="row">
    <div class="card mask-body p-0">
      <div class="card-body text-center">
        <div class="row">
          <p class="h4 font-weight-bold mb-1 text-black text-start">
            <b>Consultar Estado de Telas</b>
          </p>
          <div class="container">
            <div class="card mask-custom p-1">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12 col-md-3 col-lg-4 mb-2">
                    <div id="basic" class="form-outline form-white">
                      <input
                        type="text"
                        id="form1"
                        class="form-control form-control-md"
                        [(ngModel)]="searchLot"
                        (ngModelChange)="searchRoll = undefined"
                        [disabled]="searchRoll != null && searchRoll != 0"
                        placeholder="Busqueda por Lote"
                      />
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-4 col-lg-4 mb-3 mb-2">
                    <div id="location" class="form-outline form-white">
                      <input
                        type="text"
                        id="form2"
                        class="form-control form-control-md"
                        [(ngModel)]="searchRoll"
                        (ngModelChange)="searchLot = ''"
                        [disabled]="searchLot.length > 0"
                        placeholder="Busqueda por Rollo"
                      />
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="d-flex flex-row">
                      <div class="px-2">
                        <button
                          type="button"
                          class="btn btn-dark btn-floating"
                          (click)="search()"
                          aria-label="Search"
                        >
                          <i class="fa-solid fa-magnifying-glass fa-xl"></i>
                        </button>
                      </div>

                      <div class="form-check form-switch">
                        <input
                          class="form-check-input star-content-center"
                          type="checkbox"
                          id="percentageSwitch"
                          (change)="togglePercentage()"
                          [checked]="selectedPercentage === 100"
                        />
                        <label class="form-check-label" for="percentageSwitch"
                          >100%</label
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table
              class="table table-striped mt-3 table-hover table-sm"
              *ngIf="dataRoll.length > 0"
            >
              <thead class="table-dark">
                <tr>
                  <th scope="col">Fecha</th>
                  <th scope="col">Proveedor</th>
                  <th scope="col">Rollo</th>
                  <th scope="col">Lote</th>
                  <th scope="col">Tela</th>
                  <th scope="col">Descripción</th>
                  <th scope="col">Color</th>
                  <th scope="col">Kilos</th>
                  <th scope="col">Pedido</th>
                  <th scope="col">Referencia</th>
                  <th scope="col">Remisión</th>
                  <th scope="col">N°Rollos</th>
                  <th scope="col">Revisado</th>
                  <th scope="col">Pendientes</th>
                  <th scope="col">Estado</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of dataRoll; let i = index">
                  <td>{{ item.dateCreate | date : "dd/MM/yyyy" }}</td>
                  <td>{{ item.nameProvider }}</td>
                  <td>{{ item.roll }}</td>
                  <td>{{ item.lot }}</td>
                  <td>{{ item.codeCloth }}</td>
                  <td>{{ item.nameColor }}</td>
                  <td>{{ item.codeColor }}</td>
                  <td>{{ item.kiloRoll }}</td>
                  <td>{{ item.request }}</td>
                  <td>{{ item.reference }}</td>
                  <td>{{ item.remision }}</td>
                  <td>{{ item.quantityRoll }}</td>
                  <td>{{ item.checked ? "Revisado" : "Pendiente" }}</td>
                  <td>{{ item.pending }}</td>
                  <td>
                    <div class="form-check form-switch">
                      <input
                        class="form-check-input custom-switch"
                        type="checkbox"
                        role="switch"
                        [disabled]="!ToggleRoll(i) || item.state"
                        [checked]="item.checked"
                        id="flexSwitchCheck{{ i }}"
                        (change)="changeState(item.roll)"
                      />
                      <label
                        class="form-check-label visually-hidden"
                        for="flexSwitchCheck{{ i }}"
                        >Cambios</label
                      >
                    </div>
                  </td>
                  <td>
                    <button
                      *ngIf="
                        !item.state &&
                        item.checked &&
                        actualCheckedPercentage >= selectedPercentage
                      "
                      (click)="prepareDataForModal(item)"
                      type="button"
                      class="btn-modal"
                      aria-label="modal"
                      data-bs-toggle="modal"
                      data-bs-target="#Modal"
                    >
                      <i class="fa-solid fa-right-to-bracket fa-xl"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div
      class="modal fade"
      id="Modal"
      tabindex="-1"
      aria-labelledby="ModalLabel"
      aria-hidden="true"
      (hidden.bs.modal)="resetModalData()"
    >
      <div class="modal-dialog modal-fullscreen p-4">
        <div class="modal-content">
          <div class="modal-header float-right">
            <h5>Detalle Documentos</h5>
            <div class="text-right">
              <i
                data-bs-dismiss="modal"
                aria-label="Close"
                class="fa fa-close"
              ></i>
            </div>
          </div>
          <div class="modal-body">
            <div class="mb-4">
              <!-- Tarjeta con información encima Modal-->
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3 mb-3">
                      <h6 class="card-title text-muted">Descripción Color</h6>
                      <p class="card-text">
                        <i class="fas fa-palette text-primary"></i>
                        {{ selectedItem.nameColor }}
                      </p>
                    </div>
                    <div class="col-sm-2 mb-3">
                      <h6 class="card-title text-muted">Código Color</h6>
                      <p class="card-text">
                        <i class="fas fa-code text-success"></i>
                        {{ selectedItem.codeColor }}
                      </p>
                    </div>
                    <div class="col-sm-4 mb-3">
                      <h6 class="card-title text-muted">Descripción Color</h6>
                      <p class="card-text">
                        <i class="fa-solid fa-file-code text-info"></i>
                        {{ selectedItem.nameCloth }}
                      </p>
                    </div>
                    <div class="col-sm-2 mb-3">
                      <h6 class="card-title text-muted">Lote</h6>
                      <p class="card-text">
                        <i class="fas fa-tags text-warning"></i>
                        {{ selectedItem.lot }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-2">
                  <div class="card mt-2">
                    <h5 class="text-center fw-bolder">Rollos seleccionados </h5>
                    <ul
                      class="list-group list-group-flush d-flex flex-row align-items-center"
                      *ngFor="let item of dataAllRoll"
                    >
                      <li
                        [ngClass]="{ successRoll: item.isStored, selectedRoll: item.roll==selectedRow  }"
                        class="list-group-item w-100 text-center"
                      >
                        {{ item.roll }}
                        <i
                          style="cursor: pointer"
                          (click)="selectedRollAudit(item.roll)"
                          class="bx bxs-edit fs-4"
                        ></i>
                      </li>
                      <hr />
                    </ul>
                  </div>
                </div>
                <div
                  class="col-sm-12 col-md-12 col-lg-10 mt-2"
                  *ngIf="selectedRow != null"
                >
                  <div class="card">
                    <div class="card-body">
                      <h3 class="text-center fw-bolder">Detalles del rollo ({{selectedRow}})</h3>
                      <div
                        class="container"
                        *ngFor="let item of dataSelectedRoll"
                      >
                        <div class="row">
                          <div class="col-sm-12 col-md-4 col-lg-4">
                            <label> Metros Ficha</label>
                            <input
                              class="form-control"
                              type="number"
                              [(ngModel)]="item.mtsFicha"
                              [disabled]="item.isStored"
                            />
                          </div>
                          <div class="col-sm-12 col-md-4 col-lg-4">
                            <label> Metros Proveedor</label>
                            <input
                              class="form-control"
                              type="number"
                              [(ngModel)]="item.mtsProvider"
                              [disabled]="item.isStored"
                            />
                          </div>
                          <div class="col-sm-12 col-md-4 col-lg-4">
                            <label>Metros Reales</label>
                            <input
                              class="form-control"
                              type="number"
                              [(ngModel)]="item.mtsReal"
                              [disabled]="item.isStored"
                            />
                          </div>
                          <div class="col-sm-12 col-md-4 col-lg-4">
                            <label>Ancho Útil Proveedor</label>
                            <input
                              class="form-control"
                              type="number"
                              [(ngModel)]="item.widthProvider"
                              [disabled]="item.isStored"
                            />
                          </div>
                          <div class="col-sm-12 col-md-4 col-lg-4">
                            <label> Ancho Útil Real</label>
                            <input
                              class="form-control"
                              type="number"
                              [(ngModel)]="item.widthReal"
                              [disabled]="item.isStored"
                            />
                          </div>
                          <div class="col-sm-12 col-md-4 col-lg-4">
                            <label> Metros Defectuosos</label>
                            <input
                              class="form-control"
                              type="number"
                              [(ngModel)]="item.mtsdeficient"
                              [disabled]="item.isStored"
                            />
                          </div>
                          <div class="row">
                            <div class="col-sm-12 col-md-4 col-lg-3">
                              <label>Proveedor</label>
                              <div  [ngClass]="{disabledDefect:item.isStored || !item.mtsdeficient}">
                                <p-dropdown
                                  [options]="proveedores"
                                  [disabled]="item.isStored || !item.mtsdeficient"
                                  [readonly]="selectedRow !== item.roll"
                                  (onChange)="selectedProviderDefect($event)"
                                  [(ngModel)]="item.idDefectProvider"
                                  optionLabel="proveedor"
                                  optionValue="idRows"
                                  inputId="float-label"
                                >
                                </p-dropdown>
                              </div>
                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-3">
                              <label>Defecto</label>
                              <div *ngIf="item.defect == null"  [ngClass]="{disabledDefect:item.isStored || !item.mtsdeficient}">
                                <p-multiSelect
                                  inputId="float-label"
                                  display="chip"
                                  [disabled]="item.isStored || !item.mtsdeficient"
                                  [readonly]="selectedRow !== item.roll"
                                  [options]="defectosFilterProveedores"
                                  [(ngModel)]="selectedDefect"
                                  optionLabel="descripcion"
                                >
                                </p-multiSelect>
                              </div>
                              <div *ngIf="item.defect != null" class="defect-list-container">
                                <ul>
                                  <li *ngFor="let defect of item.nameDefect">
                                    {{ defect }}
                                  </li>
                                </ul>
                              </div>


                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-3">
                              <label>Estado</label>
                              <p-dropdown
                                [options]="estados"
                                [disabled]="item.isStored"
                                [readonly]="selectedRow !== item.roll"
                                [(ngModel)]="item.idRowEstado"
                                optionLabel="descripcion"
                                optionValue="idRows"
                                inputId="float-label"
                              >
                              </p-dropdown>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-3">
                              <label>Observación</label>
                              <textarea
                                class="form-control"
                                [(ngModel)]="item.observation"
                                [disabled]="item.isStored"
                                style="height: 100px"
                              >
                              </textarea>
                            </div>
                          </div>
                          <div
                            class="d-flex flex-row justify-content-evenly"
                            *ngIf="!item.isStored"
                          >
                            <button
                              type="button"
                              class="btn btn-primary mt-2"
                              (click)="onSaveChanges(item)"
                            >
                              Guardar cambios
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Button trigger modal -->
<button style="display: none;" id="openModalButton" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Registro auditor</h1>

      </div>
      <div class="modal-body">
        <div>
          <label>Ancho Útil Real</label>
          <select  class="form-control" [(ngModel)]="idUserAuditor" >
            <option value="0" selected disabled>Seleccione un auditor</option>
            <option  value="{{item.idPersonal}}" *ngFor="let item of dataPersonal">{{item.namePersonal}}</option>
          </select>
        </div>
      </div>
      <div class="modal-footer" *ngIf="idUserAuditor!=0">

        <button (click)="postAuditorSelected()" type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Guardar</button>
      </div>
    </div>
  </div>
</div>

<app-general-chronometer></app-general-chronometer>
