.titulo {
    color: white;
    background-color: rgb(39, 49, 59);
    -webkit-border-top-left-radius: 50px;
    -webkit-border-bottom-right-radius: 50px;
    -moz-border-radius-topleft: 50px;
    -moz-border-radius-bottomright: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

:host ::ng-deep .p-dropdown{
    width: 100% !important;
}

:host ::ng-deep .p-calendar{
    width: 100% !important;
}