<div class="px-2 mt-4">
  <div class="row">
    <div class="card mask-body p-0">
      <div class="card-body text-center">
        <div class="row">
          <p class="h4 font-weight-bold mb-1 text-black text-start">
            <b>Chequear Telas</b>
          </p>
          <div class="container">
            <div class="card mask-custom p-1">
              <div class="card-body">
                <div class="row star-content-center">
                  <div class="col-sm-12 col-md-3 col-lg-4 mb-2">
                    <div id="basic" class="form-outline form-white">
                      <input
                        type="text"
                        id="form1"
                        class="form-control form-control-md"
                        [(ngModel)]="searchLot"
                        (ngModelChange)="searchRoll = undefined"
                        [disabled]="searchRoll != null && searchRoll != 0"
                        placeholder="Busqueda por Lote"
                      />
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-4 col-lg-4 mb-3 mb-2">
                    <div id="location" class="form-outline form-white">
                      <input
                        type="text"
                        id="form2"
                        class="form-control form-control-md"
                        [(ngModel)]="searchRoll"
                        (ngModelChange)="searchLot = ''"
                        [disabled]="searchLot.length > 0"
                        placeholder="Busqueda por Rollo"
                      />
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="d-flex flex-row">
                      <div class="px-2">
                        <button
                          type="button"
                          class="btn btn-dark btn-floating"
                          type="submit"
                          data-mdb-ripple-init
                          (click)="searchCheck()"
                          aria-label="Search"
                        >
                          <i class="fa-solid fa-magnifying-glass fa-xl"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <table
            class="table table-striped mt-3 table-hover"
            *ngIf="dataFromDB.length > 0"
          >
            <thead class="table-dark">
              <tr>
                <th scope="col">Proveedor</th>
                <th scope="col">Lote</th>
                <th scope="col">Tela</th>
                <th scope="col">Descripción</th>
                <th scope="col">Color</th>
                <th scope="col">Kilos</th>
                <th scope="col">Pedido</th>
                <th scope="col">Referencia</th>
                <th scope="col">Remisión</th>
                <th scope="col">Total Rollos</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of dataFromDB; let i = index">
                <td>{{ item.nameProvider }}</td>
                <td>{{ item.lot }}</td>
                <td>{{ item.codeCloth }}</td>
                <td>{{ item.nameCloth }}</td>
                <td>{{ item.codeColor }}</td>
                <td>{{ item.kiloRoll }}</td>
                <td>{{ item.request }}</td>
                <td>{{ item.reference }}</td>
                <td>{{ item.remision }}</td>
                <td>{{ item.quantityRoll }}</td>
                <td>
                  <button
                    (click)="updateUserInputs(item)"
                    type="button"
                    class="btn-modal"
                    aria-label="modal"
                    data-bs-toggle="modal"
                    data-bs-target="#Modal"
                  >
                    <i class="fa-solid fa-right-to-bracket fa-xl"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div
      class="modal fade"
      id="Modal"
      tabindex="-1"
      aria-labelledby="ModalLabel"
      aria-hidden="true"
      (hidden.bs.modal)="resetModalData()"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header float-right">
            <h5>Detalle Documentos</h5>
            <div class="text-right">
              <i
                data-bs-dismiss="modal"
                aria-label="Close"
                class="fa fa-close"
              ></i>
            </div>
          </div>
          <div class="modal-body">
            <div class="mb-6">
              <!-- Tarjeta con información encima Modal-->
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-2 mb-3">
                      <h6 class="card-title text-muted">Código Color</h6>
                      <p class="card-text">
                        <i class="fas fa-code text-success"></i>
                        {{ selectedItem.codeColor }}
                      </p>
                    </div>
                    <div class="col-sm-4 mb-3">
                      <h6 class="card-title text-muted">Descripción Color</h6>
                      <p class="card-text">
                        <i class="fa-solid fa-file-code text-info"></i>
                        {{ selectedItem.nameCloth }}
                      </p>
                    </div>
                    <div class="col-sm-2 mb-3">
                      <h6 class="card-title text-muted">Lote</h6>
                      <p class="card-text">
                        <i class="fas fa-tags text-warning"></i>
                        {{ selectedItem.lot }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-2">
                  <div class="card mt-2">
                    <h5 class="text-center fw-bolder">Rollos seleccionados</h5>
                    <ul
                      class="list-group list-group-flush d-flex flex-row align-items-center"
                      *ngFor="let item of dataAllCheck"
                    >
                      <li
                        [ngClass]="{ successRoll: item.isStored }"
                        class="list-group-item w-100 text-center"
                      >
                        {{ item.roll }}
                        <i
                          style="cursor: pointer"
                          (click)="selectedRollAudit(item.roll)"
                          class="bx bxs-edit fs-4"
                          debugger
                        ></i>
                      </li>
                      <hr />
                    </ul>
                  </div>
                </div>
                <div
                  class="col-sm-12 col-md-12 col-lg-10 mt-2"
                  *ngIf="selectedRow != null"
                >
                  <div class="card">
                    <div class="card-body">
                      <h3 class="text-center fw-bolder">Detalles del rollo</h3>
                      <div
                        class="container"
                        *ngFor="let item of dataSelectedRoll"
                      >
                        <div class="row">
                          <div class="col-sm-12 col-md-4 col-lg-3">
                            <label>Peso</label>
                            <input
                              type="number"
                              min="0"
                              class="form-control"
                              [(ngModel)]="item.peso"
                              [disabled]="item.isStored"
                            />
                          </div>
                          <div class="col-sm-12 col-md-4 col-lg-3">
                            <label>RTO</label>
                            <input
                              type="number"
                              min="0"
                              class="form-control"
                              [(ngModel)]="item.rto"
                              [disabled]="item.isStored"
                            />
                          </div>
                          <div class="col-sm-12 col-md-4 col-lg-3">
                            <label>%EA</label>
                            <input
                              type="number"
                              min="0"
                              class="form-control"
                              [(ngModel)]="item.ea"
                              [disabled]="item.isStored"
                            />
                          </div>
                          <div class="col-sm-12 col-md-4 col-lg-3">
                            <label>%EL</label>
                            <input
                              type="number"
                              min="0"
                              class="form-control"
                              [(ngModel)]="item.el"
                              [disabled]="item.isStored"
                            />
                          </div>
                          <div class="col-sm-12 col-md-4 col-lg-3">
                            <label>%VIRO</label>
                            <input
                              type="number"
                              min="0"
                              class="form-control"
                              [(ngModel)]="item.viro"
                              [disabled]="item.isStored"
                            />
                          </div>

                          <div class="col-sm-12 col-md-4 col-lg-3">
                            <label>Elongación Ancho</label>
                            <input
                              type="number"
                              min="0"
                              class="form-control"
                              [(ngModel)]="item.elongacionAncho"
                              [disabled]="item.isStored"
                            />
                          </div>
                          <div class="col-sm-12 col-md-4 col-lg-3">
                            <label>Elongación Largo</label>
                            <input
                              type="number"
                              min="0"
                              class="form-control"
                              [(ngModel)]="item.elongacionLargo"
                              [disabled]="item.isStored"
                            />
                          </div>
                          <div class="col-sm-12 col-md-4 col-lg-3">
                            <label>Estado</label>
                            <p-dropdown
                              [options]="estados"
                              [disabled]="item.isStored"
                              [readonly]="selectedRow !== item.roll"
                              [(ngModel)]="item.idRowEstado"
                              optionLabel="descripcion"
                              optionValue="idRows"
                              inputId="float-label"
                            >
                            </p-dropdown>
                          </div>
                          <div class="col-sm-12 col-md-12 col-lg-9">
                            <label>Observación</label>
                            <textarea
                              class="form-control"
                              [(ngModel)]="item.observacion"
                              [disabled]="item.isStored"
                              style="height: 100px"
                            >
                            </textarea>
                          </div>
                          <div
                            class="d-flex flex-row justify-content-evenly"
                            *ngIf="!item.isStored"
                          >
                            <button
                              type="button"
                              class="btn btn-primary mt-2"
                              (click)="onSaveChanges(item)"
                            >
                              Guardar cambios
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
